/* The render is a two golumn grid: [ movie poster card |                description                ]
*  A grid was used to allow the description to have more area than the movie poster card by default.
*  The movie poster card is a small flex box which aligns the title and genre text center
*/

.details-header {
    color: white;
    font-family: Helvetica, Arial, sans-serif;

}

.details {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 5%;
}

.grid-image {
    grid-column: 1/2;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    background-color: red;
    border-radius: 5px;
    justify-self: center;
    display: flex;
    flex-flow: column wrap;    
}

.grid-image:hover {
    box-shadow: 0 10px 16px 0 rgb(255, 255, 255);
    cursor:pointer;
  }


.grid-description {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    text-align: left;
    padding: 2%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    background-color: red;
    border-radius: 5px;
}

.image-style {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.genre-style {
    justify-self: center;
    align-self: center;
    padding-bottom: 5px;
}

.movie-title {
    font-family: Helvetica, Arial, sans-serif;
    padding: 1%;
}