html {
  background-color: rgb(42, 42, 42);
}

.App {
  text-align: center;
  margin-left: 15%;
  margin-right:15%;
}

.title {

  padding: 1%;

  color: white;
  font-family: Helvetica, Arial, sans-serif;
  background-color: red;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;


  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;

  background-color: red;

}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  color: whitesmoke;
}

.App-intro {
  font-size: large;
  color: whitesmoke;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
