/*
* MovieItem compnent is a "card" that contains an image and a "container" for text.
* The container is a small flex
*/

.movie-card {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    width: 15%;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 5%;
    
}

.movie-card:hover {
    box-shadow: 0 10px 16px 0 rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
    cursor: pointer;
}

.image-button {
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height : 75%;
}